<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eazymile.app">


<!-- Users Permissions For Some Access -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.EazyMile">


<!-- Splash Activity - Main Launcher Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.EazyMile">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


<!-- Other Activities -->
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.EazyMile"/>
        <activity
            android:name=".SignUpActivity"
            android:exported="false"
            android:theme="@style/Theme.EazyMile"/>
        <activity
            android:name=".AreaChooserActivity"
            android:exported="false"
            android:theme="@style/Theme.EazyMile" />
        <activity
            android:name=".AuthActivity"
            android:exported="false"
            android:theme="@style/Theme.EazyMile"/>
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:theme="@style/Theme.EazyMile"/>
        <activity
            android:name=".FleetActivity"
            android:exported="false"
            android:theme="@style/Theme.EazyMile"/>
        <activity
            android:name=".BookingsActivity"
            android:exported="false"
            android:theme="@style/Theme.EazyMile"/>
        <activity
            android:name=".ProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.EazyMile"/>

    </application>

</manifest>